.myPanelHeader{
    color: #fff;
}
html {
  font: 14px normal Helvetica, sans-serif;
  color: #626771;
  background-color: #fff;
}

#globalMenu {
  text-align: center;
}

#globalMenu ul {
  list-style:none;
  display: inline-block;
}

#globalMenu ul li {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #eee;
  color: #7B8585;
  
  transition: 0.3s;
}

ul li:hover {
  background-color: #beecea;
}

#globalMenu ul li.focused {
  color: #fff;
  background-color: #41c7c2;
}

p {
  padding-top: 15px;
  font-size: 12px;
}